<template>
    <div id="id">
        <nav-bar></nav-bar>
        <v-content>
            <v-container>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti distinctio dolore, esse
                fugit illum, incidunt labore odio possimus quaerat sequi ullam, voluptate voluptatem. Aspernatur
                consectetur debitis eaque quos rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid
                eveniet illum odit repellat voluptate. Asperiores deleniti, eveniet facere inventore laboriosam magnam
                necessitatibus nulla quidem quisquam sapiente temporibus, voluptates, voluptatibus! Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Architecto beatae impedit incidunt numquam quasi rerum tempora
                veniam! Distinctio doloremque esse, minus natus omnis optio provident reprehenderit sed veniam veritatis
                voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic mollitia natus
                recusandae vitae. Autem consequuntur culpa dignissimos, dolor doloribus ipsam modi obcaecati officiis
                pariatur porro quae quasi quidem veritatis!
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti distinctio dolore, esse
                fugit illum, incidunt labore odio possimus quaerat sequi ullam, voluptate voluptatem. Aspernatur
                consectetur debitis eaque quos rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid
                eveniet illum odit repellat voluptate. Asperiores deleniti, eveniet facere inventore laboriosam magnam
                necessitatibus nulla quidem quisquam sapiente temporibus, voluptates, voluptatibus! Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Architecto beatae impedit incidunt numquam quasi rerum tempora
                veniam! Distinctio doloremque esse, minus natus omnis optio provident reprehenderit sed veniam veritatis
                voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic mollitia natus
                recusandae vitae. Autem consequuntur culpa dignissimos, dolor doloribus ipsam modi obcaecati officiis
                pariatur porro quae quasi quidem veritatis!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda deleniti distinctio dolore, esse
                fugit illum, incidunt labore odio possimus quaerat sequi ullam, voluptate voluptatem. Aspernatur
                consectetur debitis eaque quos rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid
                eveniet illum odit repellat voluptate. Asperiores deleniti, eveniet facere inventore laboriosam magnam
                necessitatibus nulla quidem quisquam sapiente temporibus, voluptates, voluptatibus! Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Architecto beatae impedit incidunt numquam quasi rerum tempora
                veniam! Distinctio doloremque esse, minus natus omnis optio provident reprehenderit sed veniam veritatis
                voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic mollitia natus
                recusandae vitae. Autem consequuntur culpa dignissimos, dolor doloribus ipsam modi obcaecati officiis
                pariatur porro quae quasi quidem veritatis!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda deleniti distinctio dolore, esse
                fugit illum, incidunt labore odio possimus quaerat sequi ullam, voluptate voluptatem. Aspernatur
                consectetur debitis eaque quos rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid
                eveniet illum odit repellat voluptate. Asperiores deleniti, eveniet facere inventore laboriosam magnam
                necessitatibus nulla quidem quisquam sapiente temporibus, voluptates, voluptatibus! Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Architecto beatae impedit incidunt numquam quasi rerum tempora
                veniam! Distinctio doloremque esse, minus natus omnis optio provident reprehenderit sed veniam veritatis
                voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic mollitia natus
                recusandae vitae. Autem consequuntur culpa dignissimos, dolor doloribus ipsam modi obcaecati officiis
                pariatur porro quae quasi quidem veritatis!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda deleniti distinctio dolore, esse
                fugit illum, incidunt labore odio possimus quaerat sequi ullam, voluptate voluptatem. Aspernatur
                consectetur debitis eaque quos rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid
                eveniet illum odit repellat voluptate. Asperiores deleniti, eveniet facere inventore laboriosam magnam
                necessitatibus nulla quidem quisquam sapiente temporibus, voluptates, voluptatibus! Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Architecto beatae impedit incidunt numquam quasi rerum tempora
                veniam! Distinctio doloremque esse, minus natus omnis optio provident reprehenderit sed veniam veritatis
                voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic mollitia natus
                recusandae vitae. Autem consequuntur culpa dignissimos, dolor doloribus ipsam modi obcaecati officiis
                pariatur porro quae quasi quidem veritatis!
            </v-container>
        </v-content>
    </div>
</template>

<script>
    import NavBar from "../components/NavBar";

    export default {
        name: "About",
        components: {NavBar}
    }
</script>