<template>
    <div id="home">
        <navigation-drawer></navigation-drawer>
        <nav-bar></nav-bar>
        <form-field></form-field>
        <locale></locale>
    </div>
</template>

<script>
    import NavBar from "../components/NavBar";
    import NavigationDrawer from "../components/NavigationDrawer";
    import FormField from "../components/FormField";
    import Locale from "../components/Locale";

    export default {
        name: "Home",
        components: {Locale, FormField, NavigationDrawer, NavBar},
    }
</script>

<style scoped>

</style>