<template>
    <v-content>
        <v-container fluid>
            <v-layout>
                <v-flex xs8>
                    <v-card class="pa-5">
                        <v-card-text>
                            <v-text-field
                                    v-model="name"
                                    label="Name"
                                    required
                            ></v-text-field>

                            <v-textarea
                                    v-model="description"
                                    label="Description"
                                    required
                            ></v-textarea>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" :disabled="!name" @click="addDevice({name, description})">Save
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                    <v-content align="left">
                        <v-btn color="error" v-on:click="deleteDevice()" :disabled="!this.$route.params.id">Delete
                        </v-btn>
                        <v-btn color="secondary" @click="sendDevices">Send</v-btn>
                    </v-content>
                </v-flex>
            </v-layout>
        </v-container>
        <v-snackbar
                v-model="snackbar"
                :color="color"
                :timeout="6000"
                multi-line
        >
            {{ message }}
            <v-btn
                    dark
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-content>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "FormField",
        computed: {
            ...mapGetters('devices', ['color', 'message']),
            name: {
                get() {
                    return this.$store.getters['devices/name'];
                },
                set(value) {
                    this.$store.commit('devices/SET_NAME', value)
                }
            },
            description: {
                get() {
                    return this.$store.getters['devices/description'];
                },
                set(value) {
                    this.$store.commit('devices/SET_DESCRIPTION', value)
                }
            },
            snackbar: {
                get() {
                    return this.$store.getters['devices/snackbar'];
                },
                set(value) {
                    this.$store.commit('devices/SNACKBAR')
                }
            }

        },
        methods: {
            ...mapActions('devices', ['addDevice', 'sendDevices']),
            deleteDevice() {
                this.$store.dispatch('devices/deleteDevice', this.$route.params.id);
                this.$router.replace('/');
            }
        }
    }
</script>

<style scoped>

</style>