<template>
    <v-footer app>
        <v-flex>
            <v-btn color="primary" @click="changeLanguage">{{ $i18n.locale === 'en' ? 'Switch to Nepali' : 'Switch to English'}}</v-btn>
        </v-flex>
    </v-footer>
</template>

<script>
    export default {
        name: "Locale",
        data() {
            return {
                langs: ['ne', 'en']
            }
        },
        methods: {
            changeLanguage() {
                this.$i18n.locale = this.$i18n.locale === 'en' ? 'ne' : 'en';
            }
        }
    }
</script>