<template>
    <v-toolbar dark app absolute clipped-left color="primary">
        <v-toolbar-title class="pr-2">Device API</v-toolbar-title>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat to="/">{{ $t('home') }}</v-btn>
            <v-btn flat to="/about">{{$t('about')}}</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat @click.stop="toggleTheme">{{ dark === true ? $t('light') : $t('dark') }}</v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "NavBar",
        computed: {
            ...mapGetters(['dark'])
        },
        methods: {
            ...mapActions([
                'toggleTheme'
            ]),
        }
    }
</script>

<style scoped>

</style>