<template>
    <v-navigation-drawer
            permanent
            clipped
            app
            absolute
    >
        <v-subheader>{{ $t('devices') }}</v-subheader>
        <v-divider></v-divider>
        <v-list>
            <v-list-tile :class="device.local === true ? 'blue blue-lighten-2' : ''" v-for="device in devices"
                         :key="device.id" :to="'/device/'+ device.id">
                <v-list-tile-action>
                    <v-icon>smartphone</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ device.name }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "NavigationDrawer",
        computed: {
            ...mapGetters('devices', [
                'devices'
            ])
        },
        created() {
            this.$store.dispatch('devices/getAllDevices');
        }
    }
</script>

<style scoped>

</style>