<template>
    <v-app id="app" :dark="dark">
        <router-view />
    </v-app>
</template>

<script>
    import { mapGetters } from 'vuex';
    export default {
        data: () => ({}),
        computed: {
            ...mapGetters([
                'dark'
            ]),
        }
    }
</script>